/* selects everything, sets the margin of all the elemnts to 0 */
* {
    margin: 0;
    padding: 0;
}

/* styling of the main background of the webpage and the padding around the edges */
body {
    background-color: rgb(255, 255, 255);
    padding: 10px;

}
/* dictates the size and shape of the container that the illustrations and captions will be in, setting the margin to auto will center any content inide the container using the width and height stated */
#container {
    width: 1520px;
    height: 850px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* leaves and stars falling down the screen style, no repeating the background so theyre just single images, the width and height determine the size of each one - varied sizes so they all look different*/
#leaf {
    width: 300px;
    height: 300px;
    background-image: url("../images/leef2-trans.png");
    position: absolute;
    right: 0px;
    top: 0px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf2 {
    width: 200px;
    height: 200px;
    background-image: url("../images/leefs-trans.png");
    position: absolute;
    left: 150px;
    top: 1000px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf3 {
    width: 150px;
    height: 150px;
    background-image: url("../images/leaf3-trans.png");
    position: absolute;
    right: 300px;
    top: 0px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf4 {
    width: 100px;
    height: 100px;
    background-image: url("../images/leaf3-trans.png");
    position: absolute;
    left: 320px;
    top: 0px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf5 {
    width: 100px;
    height: 100px;
    background-image: url("../images/leaf3-trans.png");
    position: absolute;
    right: 350px;
    top: 1000px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf6 {
    width: 100px;
    height: 100px;
    background-image: url("../images/trans-leaf-4.png");
    position: absolute;
    right: 300px;
    top: 1200px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf7 {
    width: 100px;
    height: 100px;
    background-image: url("../images/trans-leaf-4.png");
    position: absolute;
    left: 300px;
    top: 1300px;
    background-size:contain;
    background-repeat: no-repeat;
}
#leaf8 {
    width: 100px;
    height: 100px;
    background-image: url("../images/leefs-trans.png");
    position: absolute;
    right: 300px;
    top: 500px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star{
    width: 150px;
    height: 150px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    left: 100px;
    top: 0px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star2{
    width: 120px;
    height: 120px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    right: 100px;
    top: 1000px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star3{
    width: 200px;
    height: 200px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    right: 250px;
    top: 1500px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star4{
    width: 140px;
    height: 140px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    left: 250px;
    top: 1800px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star5{
    width: 250px;
    height: 250px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    left: 250px;
    top: 600px;
    background-size:contain;
    background-repeat: no-repeat;
}
#star6{
    width: 90px;
    height: 90px;
    background-image: url("../images/star-trans.png");
    position: absolute;
    left: 150px;
    top: 1600px;
    background-size:contain;
    background-repeat: no-repeat;
}

/* leaf and star animation styles, speed at which they fall and the type of animation they're using for the look im going for */
#leaf.leaf-fall {
    animation: leaf-fall 60s ease-in-out both;
}
#leaf2.leaf2-fall {
    animation: leaf2-fall 60s ease-in-out both;
}
#leaf3.leaf3-fall {
    animation: leaf-fall 50s ease-in-out both;
}
#leaf4.leaf4-fall {
    animation: leaf-fall 90s ease-in-out both;
}
#leaf5.leaf5-fall {
    animation: leaf-fall 90s ease-in-out both;
}
#leaf6.leaf6-fall {
    animation: leaf-fall 100s ease-in-out both;
}
#leaf7.leaf7-fall {
    animation: leaf-fall 90s ease-in-out both;
}
#leaf8.leaf8-fall {
    animation: leaf-fall 40s ease-in-out both;
}
#star.star-fall {
    animation: star-fall 65s ease-in-out both;
}
#star2.star2-fall {
    animation: star-fall 50s ease-in-out both;
}
#star3.star3-fall {
    animation: star-fall 70s ease-in-out both;
}
#star4.star4-fall {
    animation: star-fall 90s ease-in-out both;
}
#star5.star5-fall {
    animation: star-fall 90s ease-in-out both;
}
#star6.star6-fall {
    animation: star-fall 100s ease-in-out both;
}

/* stylng the text captions on each illustration, the font I chose, the placement of each one on screen in relation to the illustrations, colour of the text */
#text1 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 500px;
    padding-left: 950px;
    padding-top: 300px;
}

#text2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 700px;
    padding-left: 700px;
    padding-top: 50px;
}

#text3 {
    font-family: 'Noticia Text', serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-left: 1000px;
}

#text4 {
    font-family: 'Noticia Text', serif;
    font-size: 35px;
    margin-left: 150px;
    margin-bottom: 100px;
}

#text5 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: left;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 600px;
    padding-left: 850px;
    padding-top: 200px;
}

#text6 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 500px;
    padding-left: 950px;
    padding-top: 220px;

}

#text7 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 500px;
    padding-right: 950px;
    padding-top: 300px;


}

#text8 {
    font-family: 'Noticia Text', serif;
    font-size: 35px;
    word-wrap: break-word;
}

#text9 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 750px;
    padding-left: 750px;
    padding-bottom: 250px;
}

#text10 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 700px;
    padding-left: 700px;
    padding-top: 300px;
}

#text11 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 700px;
    padding-left: 400px;
    padding-bottom: 700px;
}

#text12 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 400px;
    padding-left: 1100px;
    padding-top: 450px;
}

#text13 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    line-height: normal;
    font-family: 'Noticia Text', serif;
    width: 750px;
    padding-left: 700px;
    padding-bottom: 350px;
}

header {
    height: 850px;
    line-height: 600px;
    border: green 1px solid;
}

.scroll-element {
    height: 850px;
    line-height: 600px;

}

/* importing all the illustrations into the webpage, setting them to not repeat and making the backgrouind colour white so they blend in eaily */
#story-start {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-story-cece-colour.jpg");
    background-repeat: no-repeat;
}

#move-in {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-first-moved-in.jpg");
    background-repeat: no-repeat;
}

#dont-like {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/proto-type-doesnt-like-people.jpg");
    background-repeat: no-repeat;
}

#dont-like-me {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/doesnt\ like\ me.jpg");
    background-repeat: no-repeat;
}

#toys {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-likes-food.jpg");
    background-repeat: no-repeat;
}

#being-alone {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-likes-being-alone.jpg");
    background-repeat: no-repeat;
}

#random-day {
    background-image: url("../images/prototype-random-day.jpg");
    background-repeat: no-repeat;
}

#tinsel-bought {
    background-image: url("../images/tinsel-bought.jpg");
    background-repeat: no-repeat;
}

#finds-tinsel {
    background-image: url("../images/prototype-find-tinsel-colour.jpg");
    background-repeat: no-repeat;
}

#tinsel-things {
    background-image: url("../images/what-she-did-with-tinsel.jpg");
    background-repeat: no-repeat;
}

#sit-with-tinsel {
    background-image: url("../images/prototype-sitting-in-tinsel.jpg");
    background-repeat: no-repeat;
}

#tinsel-circle {
    background-image: url("../images/prototype-tinsel-circle.jpg");
    background-repeat: no-repeat;
}

#tinsel-nest {
    background-image: url("../images/finish-tinsel-nest.jpg");
    background-repeat: no-repeat;
}

#christmas {
    background-image: url("../images/chrispmas-protrotype-colour.jpg");
    background-repeat: no-repeat;

}
/* style of the different animations (how long the action lasts, slow animation from start to finish-  */
.js-scroll {
    opacity: 0;
}

.scrolled.fade-in {
    animation: fade-in 2s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

.scrolled.slide-bottom {
    animation: slide-in-bottom 1s ease-in-out both;
}

.scrolled.slide-bottom-zig-zag {
    animation: slide-in-bottom-zig-zag 2s ease-in both;
}

.scrolled.rotate {
    animation: rotate 1s ease-in both;
}

/* keyframe aimations, 0= beginning of animation 50= during animation 100= animation finished, transform is changing the style of the animation throughout the course of the animation being performed. */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom-zig-zag {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    33% {
        transform: translateY(-50px);
    }

    66% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }

    50% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

/* animations for the different leaves and stars falling down the screen, 0= beginning of animation 100= animation complete 0 top of the page, 100 bottom of the page */
@keyframes star-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes star2-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes star3-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes star4-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes star5-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes star6-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(700vh);
    }
}
@keyframes leaf-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(800vh);
    }
}
@keyframes leaf2-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(700vh);
    }
}
@keyframes leaf3-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(700vh);
    }
    
}
@keyframes leaf4-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(700vh);
    }
    
}
@keyframes leaf5-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10vh);
    }
} 
@keyframes leaf6-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20vh);
    }
    
}
@keyframes leaf7-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10vh);
    }
    
} 
@keyframes leaf8-fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(700vh);
    }
    
}
