*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
h1{
    font-family: monospace;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 500px;

}
header{
    height: 850px;
    line-height: 600px;
    border: green 1px solid;
}
#container{
    width: 1520px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}
.scroll-element{
    height: 850px;
    line-height: 600px;

}
#story-start{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-story-start.jpg");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

#move-in{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-first-moved-in.jpg");
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}
#dont-like{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/proto-type-doesnt-like-people.jpg");
    background-repeat: repeat-x;
}
#dont-like-me{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/doesnt\ like\ me.jpg");
    background-repeat: repeat-x;
}
#toys{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-likes-food.jpg");
    background-repeat: repeat-x;
}
#being-alone{
    background-color: rgb(255, 255, 255);
    background-image: url("../images/prototype-likes-being-alone.jpg");
    background-repeat: repeat-x;
}
#random-day{
    background-image: url("../images/prototype-random-day.jpg");
    background-repeat: repeat-x;
}
#finds-tinsel{
    background-image: url("../images/prototype-extra-stars.jpg");
    background-repeat: repeat-x;
}
#tinsel-things{
    background-image: url("../images/what-she-did-with-tinsel.jpg");
    background-repeat: repeat-x;
}
#sit-with-tinsel{
    background-image: url("../images/prototype-sitting-in-tinsel.jpg");
    background-repeat: repeat-x;
}
#tinsel-circle{
    background-image: url("../images/prototype-tinsel-circle.jpg");
    background-repeat: repeat-x;
}
#tinsel-nest{
    background-image: url("../images/finish-tinsel-nest.jpg");
    background-repeat: repeat-x;
}
.js-scroll{
    opacity: 0;
}
.scrolled.fade-in{
    animation: fade-in 1s ease-in-out both;
}
.scrolled.slide-left{
    animation:slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right{
    animation: slide-in-right 1s ease-in-out both;
}
.scrolled.slide-bottom{
    animation: slide-in-bottom 1s ease-in-out both;
}
.scrolled.slide-bottom-zig-zag{
    animation: slide-in-bottom-zig-zag 2s ease-in both;
}
.scrolled.rotate{
    animation: rotate 1s ease-in both;
}
/* keyframe aimations */
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide-in-right{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom-zig-zag{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
        opacity: 0;
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
        opacity: 1;
    }
}
